.footer-container{
background-color: aliceblue;
}

/* .footer-section{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                  
} */
.copy-right-section{
                    margin-bottom: 30px;
}