.button-reg{
                    border-radius: 5px;
                    background-color:goldenrod;
                    border: 1px solid gray;
}
.button-reg:hover{
                    font-weight: 600;
}
.detail{
                    text-decoration: none;
                    color:black;
}
.detail:hover{
                    color:black;

}